img{ border:0px;}
.checkbox, .radio{border-width: 0px;}

.select{height: 21px;}

/* structure */

#webhtml{}

#left{
	float: left;
	width: 185px;
	margin-right:6px;
}

#right{
	float: right;
	width: 185px;
}

#centers{
	float: left;
	width: 578px;
}

#centerm{
	float: left;
	width: 980px;
}

#centerl{
	float: left;
	width: 960px;
}

#cleft{
	float: left;
	width: 475px;
}

#cright{
	float: right;
	width: 475px;
}

#content{

}

.main{
	width: 980px;
	clear: both;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.m_top{
	background: #f6f6f6;
	border-top: 3px solid #a9c9e2;
	border-bottom: 1px solid #e4e4e4;
	padding: 5px 0px;
	margin-bottom: 3px;
	height: 15px;
}

.m_head{
	height: 60px;
	margin-bottom: 3px;
}

.h_logo{
	float:left;
	width:180px;
}

.h_banner{
	float:left;
}

.h_link{
	float:right;
	width:90px;
	padding-top:6px;
}

.m_menu{
	background:#55a0ff;
	height:22px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	padding-top:3px;
	margin-bottom:3px;
}
#main{ padding:0 0 10px; }
.container_12 .grid_12{ width:980px; }
.clear, .clear-fix{ clear:both; display:block; overflow:hidden; width:0; height:0; }
.clearfix:before, .clearfix:after{ content: '\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.clearfix:after{ clear:both; }
.p13{ padding:13px; }
.box_shadow{ -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:5px; background:#FFf;-moz-box-shadow:0px 1px 2px #333; -webkit-box-shadow:0px 1px 2px #333; box-shadow:0px 1px 2px;behavior: url(../images/{?$jieqi_url?}520xs/images/pie.htc);}
.mt14{ margin-top:14px; }
.login-page{width:756px;padding:35px 0 35px 50px;_height:330px;min-height:330px;margin:0 auto}.user-wrapper #frame_page_wrapper{background:none;padding:20px 85px;border:0;width:796px}.user-wrapper .navigation_arrow{border:0}.dash-line{background:url(../images/user/dash-line.gif) repeat-x;width:100%;height:2px;margin:20px 0}.user-wrapper{color:#666}.user-wrapper h1{float:none;color:#666; margin-bottom:10px}.reg-desc{font-size:14px; margin-bottom:25px}.reg_links{ margin-right:32px}.friend_prompt .reg-desc{margin-bottom:5px}.user-wrapper #frame_page_wrapper_content{width:798px;min-height:400px}.user-wrapper .register-page-wrapper{width:696px;padding:35px 50px;background:#fff;border:1px solid #c8c8c8;margin-top:10px}.user-wrapper #loginForm .titleBox{width:50px;text-align:right;font-size:12px;height:25px;line-height:25px;margin-right:15px}.user-wrapper #loginForm .inputBox {height:25px;width:170px;margin-left:20px;border:0px}#loginForm{width:400px; float:left}.user-wrapper #loginForm .logonInput{padding-left:2px;padding-right:2px;width:158px;margin-top:2px;height:20px;font-size:12px;background:#ffffff;border:1px solid #c8c8c8}.checkInput{padding-left:2px;padding-right:2px;width:58px;margin-top:2px;height:20px;font-size:12px;background:#ffffff;border:1px solid #c8c8c8}#logon_form_input_auth{ float:left; margin-top:15px}#logon_form_input_auth #checkCodeSpan img{ height:36px; margin-left:15px; width:90px; cursor:pointer}#checkcode_hint{margin-top:10px;display:none;color:#999999}.user-logon-right{ border-left:1px solid #ddd; float:left; margin-left:25px; min-height:300px; _height:300px; padding:20px 0px 20px 30px;width:284px}.user-wrapper .passwordMask{position:static}.logon_form_input_email{ margin-bottom:15px; line-height:20px; }.logon_form_input_pass{ clear:both; float:left; width:100%}

.button{height:28px;border:0px;color:#ffffff;font-size:14px;cursor:pointer;font-weight:bold;text-align:center;float:left}
.button-100{background:url(../images/btn_100.gif) no-repeat;width:100px; margin:8px 0 0 22px}
.user-wrapper .submitLogon{margin:10px;height:28px;width:100px;margin-left:66px}
.remember-me{padding:15px 0 10px 8px}.forget_password{float:left;margin:16px 0 0 8px}.forget_password a, .reg-desc a{color:#f69}.reg-desc{font-size:14px; margin-bottom:25px}.user-wrapper .checkcode_apply , .user-wrapper .register_Input{width:65px;border-right:1px solid #c8c8c8}#logon_hint_logon span{line-height:25px;margin-left:39px;color:#f69}
.logonInput{ height:30px; border:1px solid #ddd; color:#898989; font-size:18px; line-height:30px; overflow:hidden; padding:0 5px; }
.change-code{margin-top:6px}



.m_foot{
	background:#f6f6f6;
	border:1px solid #e4e4e4;
	text-align:center;
	padding: 5px 0px;
	margin-top:3px;
	margin-bottom:10px;
}

.block{
	border: 1px solid #a3bee8;
	margin-bottom: 5px;
}

.blocktitle{
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #a3bee8;
	font-weight: bold;
	font-size: 14px;
	background: #e9f1f8;
	color: #054e86; 
	height: 26px; 
	line-height: 26px; 
	padding-left: 10px;
}

.blockcontent{
	padding: 3px;
}

.blocknote{
	border-top: 1px solid #a3bee8;
	padding: 3px;
	text-align: center;
	background: #f0f7ff;
	line-height: 150%;
}

.blocktitle span{
	position: relative;
	bottom: -5px;
	border-top: 1px solid #a3bee8;
	border-left: 1px solid #a3bee8;
	border-right: 1px solid #a3bee8;
	background: #ffffff;
	padding: 3px 6px 3px 6px;
	color: #c42205;
	height: 22px;
	line-height: 22px; 
}

#left .block{
	background: #e9f1f8;
	padding: 2px;
}

#left .blocktitle{
	border: 0px;
	padding: 0px;
	line-height: 24px; 
	text-align: center;
}

#left .blockcontent{
	border: 1px solid #d8e4ef;
	background: #ffffff;
}
.none{ display:none;}
.clear{ clear:both;}
a:hover{ color:Red; text-decoration:underline;}
#main{ width:980px; margin:auto;}
#admin{ border:solid 2px #E1ECED; height:30px; line-height:30px; width:970px; text-align:center;margin:5px 0px 5px 0px; padding:3px;}
table.grid caption, .gridtop {
    width:976px;
    background-color:#E1ECED;
    border:solid 2px #C3DFEA;
border-bottom:0px;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
}
table.grid {
    border: 2px solid #C3DFEA;
    border-collapse: collapse;
    margin: auto;
    padding: 3px;
}
table.grid td {
    background-color: #FFFFFF !important;
    border: 1px solid #C3DFEA;
    padding: 4px;
}
.hottext{color:red;}
#hotcontent{ padding-top:10px; }
#hotcontent .l{ border:2px solid #C3DFEA; padding:0px 0px 10px 0px; float:left; width:974px; overflow:hidden; background:#FEF9EF;overflow:hidden;border-radius: 10px;}
#hotcontent .l .item{ width:310px; float:left; padding:10px 0px 0px 10px;}
#hotcontent .l .item .image{ float:left; width:100px;}
#hotcontent .l .item .image img{ border:solid 1px #DDDDDD; padding:1px; background-color:White;}
#hotcontent .l .item dl{ padding:0px 5px 0px 0px; float:right; width:170px;}
#hotcontent .l .item dl dt{ height:25px; line-height:25px; overflow:hidden; font-size:14px; border-bottom:dotted 1px #A6D3E8; font-weight:bold; }
#hotcontent .l .item dl dt span{ float:right; font-weight:normal; color:#B3B3B3;}
#hotcontent .l .item dl dd{ padding:7px 0px 0px 0px; line-height:20px; text-indent:2em; height:120px; overflow:hidden;}
#hotcontent .r{ float:right; width:265px;border:3px solid #C3DFEA;}
#hotcontent h2{ padding:0px 0px 0px 10px; height:30px; line-height:30px; font-size:14px; font-weight:bold; overflow:hidden; margin: 0;}
#flash {  height:308px; overflow: hidden;}

.novelslistss{ margin: 5px auto; border:2px solid #C8D4E1; width:968px;  padding:3px;overflow:hidden;border-radius: 10px; }
.novelslistss h2 {background-color: #F6F8FE; border-bottom: 1px solid #DDDDDD; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; overflow: hidden; padding: 0 0 0 10px;}
.novelslistss ul{ padding:10px;}
.novelslistss li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
.novelslistss li span{ float:left; display:inline-block;}
.novelslistss li .s1{ width:10%;}
.novelslistss li .s2{ width:30%;}
.novelslistss li .s3{ width:30%;}
.novelslistss li .s3zs{ width:10%;}
.novelslistss li .s3lz{ width:9%;}
.novelslistss li .s4{ color:#B3B3B3; width:15%;text-align:right;}
.novelslistss li .s5{ color:#B3B3B3; float:right; text-align:right;}
.novelslistss li .s6{ width:20%; color:#B3B3B3;}
.novelslistss li a{ color:#6F78A7;}
.novelslist{ margin: 10px auto; border:2px solid #A6D3E8; width:968px; padding:3px; background:#FEF9EF;border-radius: 10px;}
.novelslist .content{ border-right:dotted 1px #A6D3E8; padding:0px 3px; float:left; width:315px;}
.novelslist .content h2{ border-bottom:solid 1px #A6D3E8; font-size:14px; font-weight:bold; padding-left:5px; line-height:25px; height:25px; overflow:hidden; margin: 0;}
.novelslist .content .image{ padding:10px 0px 0px 5px; float:left; width:71px;}
.novelslist .content .image img{ width:67px; height:82px; border:solid 1px #DDDDDD; padding:1px; background-color:white;}
.novelslist .content dl{ padding:10px 0px 0px 0px; float:right; width:219px;}
.novelslist .content dl dt{ height:25px; line-height:25px; overflow:hidden; font-weight:bold;}
.novelslist .content dl dd{ line-height:20px; height:60px; overflow:hidden;}
.novelslist .content ul{ padding:10px 0px 0px 5px;}
.novelslist .content ul li{ color:#B3B3B3; height:20px; line-height:20px; font-size:12px; overflow:hidden; float:left; width:155px;}

.novelslist .GARAN{ padding:0px 3px; float:left; width:960px;overflow:hiddenl}
.novelslist .GARAN .top{ width:315px; float:left; padding:0px 0px 0px 0px;}
.novelslist .GARAN h2{ border-bottom:solid 1px #A6D3E8; font-size:14px; font-weight:bold; padding-left:5px; line-height:25px; height:25px; overflow:hidden; margin: 0;}
.novelslist .GARAN .top .image{ padding:10px 0px 0px 5px; float:left; width:71px;}
.novelslist .GARAN .top .image img{ width:67px; height:82px; border:solid 1px #DDDDDD; padding:1px; background-color:white;}
.novelslist .GARAN .top dl{ padding:10px 0px 0px 0px; float:right; width:219px;}
.novelslist .GARAN .top dl dt{ height:25px; line-height:25px; overflow:hidden; font-weight:bold;}
.novelslist .GARAN .top dl dd{ line-height:20px; height:60px; overflow:hidden;}

.novelslist .border{ border:0px;}

#newscontent{ margin: auto;}
#newscontent .l{ border:2px solid #A6D3E8; float:left; width:695px;background:#F7FBFD;overflow:hidden;border-radius: 10px;}
#newscontent .l ul{ padding:10px;}
#newscontent .l li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
#newscontent .l li span{ float:left; display:inline-block;}
#newscontent .l li .s1{ width:75px;}
#newscontent .l li .s2{ width:185px;}
#newscontent .l li .s3{ width:300px;}
#newscontent .l li .s4{ color:#B3B3B3; width:70px;text-align:right;}
#newscontent .l li .s5{ color:#B3B3B3; float:right; text-align:right;}
#newscontent .l li a{ color:#6F78A7;}
#newscontent .r{ float:right; width:265px;border:2px solid #A6D3E8; background:#F7FBFD;overflow:hidden;border-radius: 10px;}
#newscontent .r ul{ padding:10px;}
#newscontent .r li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
#newscontent .r li span{ float:left; display:inline-block;}
#newscontent .r li .s1{ width:50px;}
#newscontent .r li .s2{ color:#B3B3B3;overflow:hidden;width:160px}
#newscontent .r li .s3{ width:30px;}
#newscontent .r li .s4{ width:50px; color:#B3B3B3;}
#newscontent .r li .s5{ float:right; text-align:right;}
#newscontent .r li a{ color:#6F78A7;}
#newscontent h2{ margin:0px; overflow:hidden; padding:0px 0px 0px 10px; background-color:#88C6E5; height:30px; line-height:30px; font-size:14px; font-weight:bold; border-bottom:solid 1px #DDDDDD;}

#firendlink{ width:972px; padding:1px; border:solid 2px #A6D3E8; line-height:22px;overflow:hidden;background:#fff;overflow:hidden;border-radius: 10px;}
#firendlink a{margin-left: 5px;}
#firendlink a:hover{color:#ff6600;text-decoration:none;}
#firendlink h2{ margin:0px; overflow:hidden; padding:0px 0px 0px 10px; background-color:#DAEDF5; height:30px; line-height:30px; font-size:14px; font-weight:bold; border-bottom:solid 1px #DDDDDD;}

.pages1{width:700px;border:2px solid #A6D3E8;padding:5px;margin-bottom:5px;overflow:hidden;border-radius: 10px;}
.pages{width:964px;border:2px solid #A6D3E8;padding:5px;margin-top:5px;overflow:hidden;border-radius: 10px;}
.pagelink{text-align:center;padding:5px;}
.pagelink em{font-style:normal;border:1px solid #e5e5e5;background:#FFF;padding:5px;}
.pagelink first{border:1px solid #e5e5e5;background:#FFF;padding:5px;margin-left:2px;}
.pagelink a{border:1px solid #e5e5e5;background:#FFF;padding:5px;margin-left:2px;}
.pagelink a:hover{border:1px solid #88C6E5;background:#F4FBFF;padding:5px;margin-left:2px;}
.pagelink strong{border:1px solid #e5e5e5;background:#FFF;padding:5px;margin-left:2px;}
.pagelink kbd{border:1px solid #e5e5e5;background:#FFF;padding:5px;margin-left:2px;}
#bdshare{margin:0 auto;width:980px;}
* {
    font-family: ËÎÌå;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-decoration: none;
}

/* wudu-notice */
.wudu-notice{
	margin-top:10px;
	color: #e12160;
	padding: 10px 10px 10px 40px;
	border: 1px solid #e6d8b9;
	position: relative;
	background: url(../images//520xs/bulb.gif) 7px center no-repeat #feffe6;
	border-radius: 10px;
	zoom:1;
}	
	.wudu-notice a{ color: #080; text-decoration: underline;} 		
	.wudu-notice a:hover{ color: #e12160; text-decoration: none;} 	
    .layout{
	width: 980px;
}
/* bread-crumb-nav */
.bread-crumb-nav{
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	padding: 4px 0;
	border: 2px solid #C3DFEA;
	background-color: #FEF9EF;
	border-radius: 10px;
}
.fn-clear:after {
	visibility:hidden;	
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
body .fn-clear {
	*zoom:1;
	*clear: both;	
}
/* bread-crumbs */
	.bread-crumbs li{
		float: left;
		font-size: 14px;
		padding: 0 10px 0 18px;
		background: url(../images//520xs/cssjs/bread-crumbs.gif) 0 center no-repeat;
	}
	.bread-crumbs li.home{ background: none; padding-left: 13px;}
	.bread-crumbs li a{ margin: 0 5px;color: #6F78A7;}
	.bread-share{
		height: 24px;
		line-height: 18px;
		overflow: hidden;
		padding: 0 3px;
	}
/* ui-box */
.ui-box{
	margin-top: 10px;
	border: 2px solid #C3DFEA;
	background-color: #E9FAFF;
    border-radius: 10px;
   
}
/*jianjie*/
.ui_bg6{ zoom:1; float:left;padding:12px; width:687px; background:#E9FAFF url(../images//520xs/cssjs/bg_y.gif) repeat scroll 0 0;}
.path{display:inline;}
.cDRed{display:inline;width:470px;margin-top:3px;}
.bdshare{float:right;text-align:right;display:inline;width:240px;}
.bdshare_b{}
.dashLine{ display:block; overflow:hidden; clear:both; height:25px; background:url(../images//520xs/cssjs/bg19.gif) repeat-x left center;}
.box_intro .pic{ float:left; width:120px; padding:15px 15px 5px; border:1px solid #C3DFEA; background:#E9FAFF url(../images//520xs/cssjs/bg20.jpg) repeat-x bottom;}
.box_intro .score{ float:right; color:#ba2636;}
.box_intro .score span{ font-family:Arial; font-size:30px; font-weight:bold;}
.box_intro .assess{ position:relative; padding-top:10px; clear:both; color:#445a67;}
.box_intro .assess .floatBox{ position:absolute; top:0; left:85px; z-index:100; display:none; width:116px; height:51px; padding:0 6px 0 10px; background:url(../images//520xs/cssjs/bg25.gif) no-repeat;}
.box_intro .assess .floatBox span{ cursor:pointer;}
.box_intro .assess .floatBox p{ color:#c00; text-align:center; line-height:17px;}
.box_intro .box_info{ margin-left:165px; zoom:1;}
.infotop{height: 30px;}
.tLJ{ text-align:left!important;line-height:25px;}
.clear {clear:both; height:0; overflow:hidden; display:block;}
.intro {color:#666666;height:166px;line-height:22px;overflow-y:scroll;text-indent: 2em;}
.option{ font-size:14px; color:#ccc; height:40px; border-top:1px solid #C3DFEA; margin-top:5px}
.option a{color:#f60}
.txtopt{float:right}
.txtopt a{display:block; margin:6px 0; width:80px; height:27px; overflow:hidden; background:url(../images/btbg.gif) no-repeat 0 -27px; color:#6F78A7; text-align:center; float:left; line-height:27px; margin-left:10px;}
.txtopt a:hover{background:url(../images//520xs/cssjs/btbg.gif) no-repeat 0 0; text-decoration:none; color:#19CBCE;}
.f21h{ font-family:simHei; font-size:30px!important; font-weight:normal!important; line-height:32px!important;}
.f21h em{margin-left:10px;font-weight:normal;font-size:13px;font-style:normal;}
.btopt{float:left; height:27px; margin:6px 0}
.btopt a{display:block; width:80px; height:27px; background:url(../images/yuedu.gif) no-repeat 0 0; overflow:hidden}
.btopt a:hover{background:url(../images//520xs/cssjs/yuedu.gif) no-repeat 0 -27px; text-decoration:none}
.btopt a span{visibility:hidden}
strong,b {
font-weight: bold;
}
/*×îÐÂ¹«ÖÚ¸üÐÂÕÂ½Ú*/
.book_newchap{padding-top:10px;}
.book_newchap .tit{height:25px;border-bottom:1px solid #C3DFEA;padding-left:10px;}
.book_newchap .tit .fbz{float:right;margin-top:5px;}
.book_newchap .tit .fbz a{color:#f07c14;margin:0px 5px;}
.book_newchap .tit span{float:left;width:121px;height:25px;background:url(../images//520xs/cssjs/ico.gif) no-repeat -866px -162px;text-align:center;line-height:28px;overflow:hidden;margin-left:10px;cursor:pointer;}
.book_newchap .tit span.now{background-position:-866px -124px;color:#6F78A7;font-weight:bold;position:relative;top:1px;}
.book_newchap .con{padding:0px 10px;}
.book_newchap .con p{line-height:22px;}
.book_newchap .con p.ti{border-bottom:1px dashed #c9c9c9;color:#7a7a7a;padding:5px 0px;}
.book_newchap .con p.ti em{padding-right:5px;float:right;}
.book_newchap .con p.ti a{color:#E93854;font-weight:bold;margin-right:5px;}
.book_newchap .con .nr{padding: 8px 0;line-height:21px;border-bottom:1px dashed #c9c9c9;}
.book_newchap .con .nr a:hover {
	text-decoration:none;
}
.book_newchap .con .nr p,.book_newchap .con .nr a{text-indent:24px;color:#464646;}
/* play-list-box */
.play-list-box{
	width: 720px;
	overflow: hidden;
	padding: 0 0 5px 0px;
}
	.play-list-box .caption{
		margin-right: 15px;
		height: 45px;
		overflow: hidden;
		background: url(../images/line.gif) 0 44px repeat-x;
		border-bottom: 1px solid #C3DFEA;
	}	
		.play-list-box .caption h4{
			height: 40px;
			float: left;
			overflow: hidden;
			margin-top: 15px;
			color: #666;
			font-size: 14px;
		}
		.play-list-box .caption h4 strong{ color: #6F78A7;}
		.play-list-box .caption h1{
			height: 20px;
			float: left;
			font-size:16px;
			font-weight: bold;
			overflow: hidden;
			margin-top: 8px;
		}
		.play-list-box .caption img{
			height: 20px;
			float: left;
			overflow: hidden;
			margin-top: 10px;
		}
			.play-list-box .caption h4 img{
				height: 20px;
				display: block;
				margin: 8px 0 0 0;
			}
		
		/* Txt */	
		.play-list-box .txt{
			height: 22px;
			line-height: 22px;
			overflow: hidden;			
			margin-top: 11px;
			float: right;
			padding-right: 5px;
		}	
			.play-list-box .txt a,
			.play-list-box .txt a:hover{ color: #e12160;}
		/* play-list */	
		.play-list{
			width: 400px;
			max-height: 700px;
			_height:expression(this.scrollHeight > 700 ? "700px" : "auto");
			overflow: auto;
			overflow-x: hidden;		
			clear: both;
			position: relative;
			float: left;
		}	
			.play-list a{
				width: 385px;
				height: 28px;
				line-height: 28px;
				overflow: hidden;
				display: block;
				color: #6F78A7;
				float: left;
				position: relative;
				margin: 5px 5px 0 0;
				border: 1px solid #C3DFEA;
				background-color: #E1ECED;
				padding-left:10px;
			}	

			.play-list a:hover{
				color: #fff;
				text-decoration: none;
				border-color: #88C6E5;
				background: #88C6E5;
			}
			.play-list a span.time{float:right;padding-right:10px;}
			.play-list-long a{width: 234px;}
			.play-list a span.new{top: 0;right: 0;}
		.play-content{width: 720px;}	
		.play-list-right{border:1px solid #c3dfea;width:300px;height:250px;float:left;overflow: hidden;margin-left:5px;margin-top:5px;}
/* wudu-bar */
.wudu-bar{
	width: 253px;
	float: right;
	border-left: 1px solid #C3DFEA;
	background-color: #E9FAFF;
}
	/* ui-title */
	.wudu-bar .ui-title{
		height: 55px;
		position: relative;
		border-bottom: 1px solid #eee;
	}		
		
		.wudu-bar .ui-title h2{
			height: 30px;
			padding: 12px 0 0 15px;
		}
			.wudu-bar .ui-title h2 a{
				height: 30px;
				width: 190px;
				background-image: url(../images//520xs/cssjs/flbd.jpg);
			}
			
	/* ui-title1 */
	.wudu-bar .ui-title1{
		height: 55px;
		position: relative;
		border-bottom: 1px solid #C3DFEA;
	}		
		
		.wudu-bar .ui-title1 h2{
			height: 30px;
			padding: 12px 0 0 15px;
            font-weight: bold;
            line-height: 150%;
            font-size: 16px;
		}
			.wudu-bar .ui-title1 h2 a{
				height: 30px;
				width: 190px;
				background-image: url(../images//520xs/cssjs/flzx.jpg);
			}		
	
	/* ui-ranking */
	.ui-ranking{
		width: 213px;
		padding: 0 15px;
		overflow: hidden	
	}	
	#list-focus .ui-ranking,
	#channel-box .ui-ranking{
		width: 226px;
		padding-bottom: 5px;
		border-bottom: 1px solid #eee;
	}
		.ui-ranking h3{
			font-size: 14px;
			font-weight: 700;
			height: 38px;
			line-height: 38px;
			overflow: hidden;
			color: #333;
		}

		/* ranking-list */
		.ranking-list{
			padding-bottom: 5px;
		} 	
			.ranking-list li{
				height: 32px;
				line-height: 32px;
				overflow: hidden;
				border-bottom: 1px dotted #C3DFEA;
			}
			.ranking-list span{ 
				float: right; 
				color: #999;
				font-size: 11px;
			}
			.ranking-list em{
				color: #666;
				margin-right: 7px;
				font-style: italic;
				font-weight: 700;
			}
			.ranking-list span.score{color: #e12160; font-size: 12px;}
			.ranking-list em.stress{ color: #e12160;}


#comment .ui-title{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0 19px;
	color: #666;
	font-size: 14px;
	border-bottom: 1px solid #C3DFEA;
	background-color: #E1ECED;
    margin-top: -4px;
    border-radius: 10px;
}	
#comment .ui-title h2{padding-top:1px;font-weight: bold;}
.ui-button{
		width: 100px;
		height: 35px;
		line-height: 35px;
		overflow: hidden;
		border: 0 none;
		cursor: pointer;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		background-color: #67B5E2;
		border-radius: 10px;
	}
	@-moz-document url-prefix(){.ui-button{ padding-bottom: 6px;}}	
	.ui-button-hover,
	.ui-button:hover{
		color: #fff;
		text-decoration: none;
		background-color: #88C6E5;
	}
	.ui-button:active{
		box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	}
/* ui-bar */
	.ui-bar{
		height: 42px;
		overflow: hidden;
		padding: 0 10px;
		border-bottom: 1px solid #eee;
	}	
		/* view-mode */
		.view-mode{
			margin: 8px 0 0 0;			
			width: 192px;
			height: 26px;
			overflow: hidden;
			float: left;
		}
			.view-mode li{
				width: 96px;
				height: 26px;
				overflow: hidden;
				float: left;
			}
				.view-mode li a{
					width: 100%;	
					height: 26px;
					line-height: 26px;				
					display: block;					
					overflow: hidden;
					font-size: 14px;
					font-family: simsun;
					text-indent: 27px;
					background-image: url(../images/view-mode.gif);
					background-repeat: no-repeat;
					background-color: #eee;
				}
				.view-mode li a:hover{ text-decoration: none; background-color: #ddd;}
				.view-mode li a.current{color: #fff;background-color: #e12160;cursor: default;}
				.view-mode li#view-list a{background-position: 10px 7px;}				
				.view-mode li#view-letter a{background-position: 10px -43px;}				
				.view-mode li#view-list a.current{background-position: 10px -18px;}
				.view-mode li#view-letter a.current{background-position: 10px -68px;}
			
		/* view-filter */	
		.view-filter{ 
			float: left;
			height: 24px;
			line-height: 24px;
			overflow: hidden;
			margin-top: 9px;
			color: #999;
			padding-left: 10px;
		}
			.view-filter em{
				float: left;
				padding: 0 6px;
				font-family: simsun;
			}  
			.view-filter a{
				display: block;
				height: 24px;
				overflow: hidden;
				padding: 5px 10px 0 10px;
				float: left;
				border-radius: 10px;
				color: #6F78A7;
			}  
			.view-filter a:hover{
				text-decoration: none;
				background-color: #eee;
			}  
			.view-filter a.current{
				color: #fff;
				font-weight: 700;
				background-color: #67B5E2;
				cursor: default;
			}  		
					
			.ui-bar .ui-pages{ margin-top: 9px;}
/* comment */
#comment .ui-title h3{font-weight: 700;color: #333;}
#like-focus{
	overflow: hidden;
	position: relative;
}
#like-focus .ui-title,
#play-help .ui-title{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0 19px;
	color: #666;
	font-size: 14px;
	background-color: #E9FAFF;
}	
	#like-focus .ui-title strong{ color: #f60;}	
	#like-focus .img-list{ width: 1001px; margin-left: -1px;}		
	#like-focus .img-list li{width: 139px;height: 205px;float: left;overflow: hidden;}		
	#like-focus .txt-list{margin: 0 10px -1px 10px;width: 990px;}
	#like-focus .txt-list li{width: 183px;overflow: hidden;}	
.play-a{margin-left: 9px;}	
/* play-img */
		.play-img{
			width: 110px;
			height: 150px;	
			display: block;
			overflow: hidden;
			margin: 0 auto;
			margin-top: 10px;
			padding: 3px;
			position: relative;
			border: 1px solid #fff;
			background-color: #fff;
		}
		.play-img:hover{ 
			color: #fff;
			text-decoration: none; 
			border-color: #259e33;
			box-shadow: 0 1px 1px rgba(0,0,0,0.07);
		}
			.play-img img{
				width: 110px;
				height: 150px;
				display: block;
				overflow: hidden;
				background:url(../images/lazyload.gif) no-repeat scroll center center transparent;
			}
			.play-img .mask{
				width: 110px;
				height: 20px;
				display: block;
				overflow: hidden;
				background-color: #000;
				position: absolute;
				left: 3px;
				bottom: 3px;
				filter:alpha(opacity=30);
				opacity: 0.3;
				z-index: 1;
			}
			.play-img .text{
				width: 100px;
				height: 20px;
				line-height: 20px;
				display: block;
				overflow: hidden;
				font-size: 12px;
				position: absolute;
				left: 3px;
				bottom: 3px;
				padding: 0 5px;
				text-align: right;
				z-index: 2;				
				color: #fff;
				white-space:nowrap; 
			}
			.play-img .score{
				display: block;
				width: 30px;
				height: 18px;
				line-height: 16px;
				padding-right: 5px;
				text-align: center;
				overflow: hidden;
				color: #fff;
				position: absolute;
				left: 0;
				top: 8px;
				z-index: 3;
				font-weight: 700;
				-webkit-text-size-adjust:none;
				background: url(../images/ui-icon.gif) 0 -155px no-repeat;	
			}