.novelslistss li .s1{width:10%}
.novelslistss li .s2,.novelslistss li .s3{width:30%}
.novelslistss li .s4{width:15%;color:#b3b3b3;text-align:right}
.novelslistss li .s5{float:right;color:#b3b3b3;text-align:right}
.novelslist{margin:10px auto;padding:3px;width:968px;border:2px solid #a6d3e8;border-radius:10px;background:#fef9ef}
.novelslist .content{float:left;padding:0 3px;width:315px;border-right:1px dotted #a6d3e8}
.novelslist .content h2{overflow:hidden;margin:0;padding-left:5px;height:25px;border-bottom:1px solid #a6d3e8;font-weight:700;font-size:14px;line-height:25px}
.novelslist .content .image{float:left;padding:10px 0 0 5px;width:71px}
.novelslist .content .image img{padding:1px;width:67px;height:82px;border:1px solid #ddd;background-color:#fff}
.novelslist .content dl{float:right;padding:10px 0 0;width:219px}
.novelslist .content dl dt{overflow:hidden;height:25px;font-weight:700;line-height:25px}
.novelslist .content dl dd{overflow:hidden;height:60px;line-height:20px}
.novelslist .content ul{padding:10px 0 0 5px}
.novelslist .content ul li{float:left;overflow:hidden;width:155px;height:20px;color:#b3b3b3;font-size:12px;line-height:20px}
.novelslist .GARAN{float:left;padding:0 3px;width:960px}
.novelslist .GARAN .top{float:left;padding:0;width:315px}
.novelslist .GARAN h2{overflow:hidden;margin:0;padding-left:5px;height:25px;border-bottom:1px solid #a6d3e8;font-weight:700;font-size:14px;line-height:25px}
.novelslist .GARAN .top .image{float:left;padding:10px 0 0 5px;width:71px}
.novelslist .GARAN .top .image img{padding:1px;width:67px;height:82px;border:1px solid #ddd;background-color:#fff}
.novelslist .GARAN .top dl{float:right;padding:10px 0 0;width:219px}
.novelslist .GARAN .top dt{overflow:hidden;height:25px;line-height:25px;color: #b3b3b3;}
.novelslist .GARAN .top dt a{font-weight:700}
.novelslist .GARAN .top dl dd{overflow:hidden;height:60px;line-height:20px}
.novelslist .border{border:0}
#newscontent{margin:auto}
#newscontent .r{float:right;overflow:hidden;width:265px;border:2px solid #a6d3e8;border-radius:10px;background:#f7fbfd}
#newscontent .r ul{padding:10px}
#newscontent .r li{overflow:hidden;padding:5px 0 0;height:25px;border-bottom:1px solid #ddd;line-height:25px}
#newscontent .r li span{float:left;display:inline-block}
#newscontent .r li .s1{width:50px}
#newscontent .r li .s2{overflow:hidden;width:160px;color:#b3b3b3}
#newscontent .r li .s3{width:30px}
#newscontent .r li .s4{width:50px;color:#b3b3b3}
#newscontent .r li .s5{float:right;text-align:right}
#newscontent .r li a{color:#6f78a7}
#newscontent h2{overflow:hidden;margin:0;padding:0 0 0 10px;height:30px;border-bottom:1px solid #ddd;background-color:#88c6e5;font-weight:700;font-size:14px;line-height:30px}
#firendlink{overflow:hidden;padding:1px;width:972px;border:2px solid #a6d3e8;border-radius:10px;background:#fff;line-height:22px}
#firendlink a{margin-left:5px}
#firendlink a:hover{color:#f60;text-decoration:none}
#firendlink h2{overflow:hidden;margin:0;padding:0 0 0 10px;height:30px;border-bottom:1px solid #ddd;background-color:#daedf5;font-weight:700;font-size:14px;line-height:30px}
.fn-clear:after{clear:both;display:block;visibility:hidden;height:0;content:" ";font-size:0}
.bread-crumbs li.home{padding-left:13px;background:0 0}
.ui_bg6{float:left;padding:12px;width:687px;zoom:1}
.box_intro .score{float:right;color:#ba2636}
.box_intro .score span{font-weight:700;font-size:30px;font-family:Arial}
.box_intro .assess{position:relative;clear:both;padding-top:10px;color:#445a67}
.box_intro .assess .floatBox{position:absolute;top:0;left:85px;z-index:100;display:none;padding:0 6px 0 10px;width:116px;height:51px}
.box_intro .assess .floatBox span{cursor:pointer}
.box_intro .assess .floatBox p{color:#c00;text-align:center;line-height:17px}
.box_intro .box_info{margin-left:165px;zoom:1}
.infotop{height:30px}
.option{margin-top:5px;height:40px;border-top:1px solid #c3dfea;color:#ccc;font-size:14px}
.option a{color:#f60}
.txtopt{float:right}
.txtopt a{float:left;display:block;overflow:hidden;margin:6px 0 6px 10px;width:80px;height:27px;background:url(../image/btbg.gif) 0 -27px no-repeat;color:#6f78a7;text-align:center;line-height:27px}
.txtopt a:hover{background:url(../image/btbg.gif) 0 0 no-repeat;color:#19cbce;text-decoration:none}
.f21h{font-weight:400!important;font-size:30px!important;font-family:simHei;line-height:32px!important}
.f21h em{margin-left:10px;font-weight:400;font-style:normal;font-size:13px}
.btopt{float:left;margin:6px 0;height:27px}
.btopt a{float:left;display:block;overflow:hidden;margin:6px 0 6px 10px;width:80px;height:27px;background:url(../image/yuedu.gif) 0 -27px no-repeat;color:#6f78a7;text-align:center;line-height:27px}

.btopt a:hover{background:url(../image/yuedu.gif) 0 0 no-repeat;color:#19cbce;text-decoration:none}
.btopt a span{visibility:hidden}
.play-list-box{overflow:hidden;padding:0 0 5px;width:720px}
.play-list-box .caption{overflow:hidden;margin-top:11px;margin-right:15px;height:25px;border-bottom:1px solid #c3dfea}.down_txt_url{float:left;margin:10px auto;padding:10px;width:680px;border:1px solid #ddd}
.down_txt_url h4{margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ddd;color:#000;font-size:15px}
.zip_down span{display:inline-block;color:#009acd;font-weight:700;font-size:15px;line-height:25px}
.zip_down strong{color:#999;font-size:12px}
.zip_down a{display:inline-block;float: right;padding-left:20px;height:26px;background:url(down_ico.gif) no-repeat 0;color:red;font-weight:700;font-size:14px;line-height:26px}
.play-list-box .caption h4{float:left;font-size:14px}
.play-list-box .caption h4 strong{color:#6f78a7}
.play-list-box .caption h1{float:left;overflow:hidden;margin-top:8px;height:20px;font-weight:700;font-size:16px}
.play-list-box .caption img{float:left;overflow:hidden;margin-top:10px;height:20px}
.play-list-box .caption h4 img{display:block;margin:8px 0 0;height:20px}
.play-list-box .txt{float:right}
.play-list-box .txt a,.play-list-box .txt a:hover{color:#e12160}
.play-list{clear:both;overflow:hidden auto;width:400px;max-height:700px}
.play-list,.play-list a{position:relative;float:left}
.play-list a{display:block;overflow:hidden;margin:5px 5px 0 0;padding-left:10px;width:385px;height:28px;border:1px solid #c3dfea;background-color:#e1eced;color:#6f78a7;line-height:28px}
.play-list a:hover{border-color:#88c6e5;background:#88c6e5;color:#fff;text-decoration:none}
.play-list a span.time{float:right;padding-right:10px}
.play-list a span.new{top:0;right:0}
.play-content{width:720px}
.play-content span{float:right;padding-right:10px;color:#e12160}
.wudu-bar{float:right;width:253px;border-left:1px solid #c3dfea;background-color:#e9faff}
.wudu-bar .ui-title{position:relative;height:55px;border-bottom:1px solid #eee}
.wudu-bar .ui-title h2{padding:12px 0 0 15px;height:30px}
.wudu-bar .ui-title h2 a{width:190px;height:30px}
.wudu-bar .ui-title1{position:relative;height:55px;border-bottom:1px solid #c3dfea}
.wudu-bar .ui-title1 h2{padding:12px 0 0 15px;height:30px;font-weight:700;font-size:16px;line-height:200%}
.wudu-bar .ui-title1 h2 a{width:190px;height:30px}
.ui-ranking{overflow:hidden;padding:0 15px;width:213px}
.ui-ranking h3{overflow:hidden;height:38px;color:#333;font-weight:700;font-size:14px;line-height:38px}
.ranking-list{padding-bottom:5px}
.ranking-list li{overflow:hidden;height:32px;border-bottom:1px dotted #c3dfea;line-height:32px}
.ranking-list span{float:right;color:#999;font-size:11px}
.ranking-list em{margin-right:7px;color:#666;font-weight:700;font-style:italic}
.ranking-list span.score{color:#e12160;font-size:12px}
.ranking-list em.stress{color:#e12160}
#comment .ui-title{overflow:hidden;margin-top:-4px;padding:0 19px;height:40px;border-bottom:1px solid #c3dfea;background-color:#e1eced;color:#666;font-size:14px;line-height:40px}
#comment .ui-title h2{padding-top:1px;font-weight:700}
#comment .ui-title h3{color:#333;font-weight:700}
#like-focus{position:relative;overflow:hidden}
#like-focus .ui-title,#play-help .ui-title{overflow:hidden;padding:0 19px;height:40px;background-color:#e9faff;color:#666;font-size:14px;line-height:40px}
#like-focus .ui-title strong{color:#f60}
#like-focus .img-list{margin-left:-1px;width:1001px}
#like-focus .img-list li{float:left;overflow:hidden;width:139px;height:205px}
#like-focus .txt-list{margin:0 10px -1px;width:990px}
#like-focus .txt-list li{overflow:hidden;width:183px}
.play-a{margin-left:9px}
.play-img{position:relative;display:block;overflow:hidden;margin:10px auto 0;padding:3px;width:110px;height:150px;border:1px solid #fff;background-color:#fff}
.play-img:hover{border-color:#259e33;box-shadow:0 1px 1px rgba(0,0,0,.07);color:#fff;text-decoration:none}
.play-img img{display:block;overflow:hidden;width:110px;height:150px}
.play-img .mask{z-index:1;width:110px;background-color:#000;opacity:.3}
.play-img .mask,.play-img .text{position:absolute;bottom:3px;left:3px;display:block;overflow:hidden;height:20px}
.play-img .text{z-index:2;padding:0 5px;width:100px;color:#fff;text-align:center;white-space:nowrap;font-size:12px;line-height:20px}
.play-img .score{position:absolute;top:8px;left:0;z-index:3;display:block;overflow:hidden;padding-right:5px;width:30px;height:18px;background:url(../images/ui-icon.gif) 0 -155px no-repeat;color:#fff;text-align:center;font-weight:700;line-height:16px;text-size-adjust:none}
.play-content li{overflow:hidden;height:28px;border-bottom:1px dotted #c3dfea;line-height:32px}
#channel-box .ui-ranking,#list-focus .ui-ranking{padding-bottom:5px;width:226px;border-bottom:1px solid #eee}
.box_con,.ui-box{overflow:hidden;margin:10px auto auto;width:976px;border:2px solid #88c6e5;border-radius:10px;line-height:100%}
.con_top{padding-left:10px;width:100%;height:40px;border-bottom:1px solid #88c6e5;background-color:#e1eced;line-height:40px}
.con_top #bdshare{float:right;padding-top:9px;padding-right:20px;height:20px;text-align:right;line-height:20px}
#sidebar{float:right;width:264px;border-left:1px dashed #88c6e5;text-align:left}
#sidebar .xian{overflow:hidden;width:100%;height:1px;border-top:1px dashed #88c6e5}
.sidebartitle{overflow:hidden;padding-top:2px;padding-left:10px;width:100%;text-overflow:ellipsis;white-space:nowrap;font-weight:700;font-size:11pt;line-height:150%}
.sidebarlist{overflow:hidden;margin-bottom:5px;padding-left:20px;line-height:100%}
.sidebarlist a{float:left;overflow:hidden;width:49.5%;text-overflow:ellipsis;white-space:nowrap;line-height:200%}
#fmimg{float:left;margin:12px;padding:0;width:150px;background-color:#e1eced}
#fmimg img{margin:0;width:150px;height:200px;border:none}
#info{margin:10px;padding:0 10px;height:210px;max-height:210px;font-size:15px}
#info h1,#intro p{margin:0;padding:0}
#info h1{overflow:hidden;height:44px;font-weight:700;font-size:28px;font-family:黑体;color: #555;line-height:44px}
#info p{float:left;margin:auto;padding-top:2px;width:500px;height:25px;line-height:25px}
#info p,#intro{overflow:hidden}
#intro{padding:10px;width:100%;border-top:1px dashed #88c6e5;font-size:15px;line-height:180%}
#list dl{float:left;overflow:hidden;margin:auto;padding-bottom:1px}
#list dt{margin:auto auto 5px;padding:5px 10px;width:98%;background:#c3dfea;text-align:center;font-size:14px;line-height:28px}
#list dd,#list dt{float:left;display:inline;overflow:hidden;vertical-align:middle}
#list dd{margin-bottom:5px;width:33%;height:25px;border-bottom:1px dashed #ccc;text-align:left;text-indent:10px;line-height:200%}
#list dd a:link{color:#444;text-decoration:none;font-size:15px}
#list dd a:visited{color:#178102;text-decoration:none}
.introtxt{overflow:hidden;padding-bottom:10px;width:680px;height:50px;color:#666;text-overflow:ellipsis;line-height:26px}
.clear{margin:auto;padding:0;font-size:0;line-height:0}
.clear,.clear-fix{clear:both;display:block;overflow:hidden;width:0;height:0}
#hotcontent{padding-top:10px}
#hotcontent .l{padding:0 0 10px;width:974px;border:2px solid #c3dfea}
#hotcontent .l .item{float:left;padding:10px 0 0 10px;width:310px}
#hotcontent .l .item .image{float:left;width:100px}
#hotcontent .l .item .image img{padding:1px;border:1px solid #ddd;background-color:#fff}
#hotcontent .l .item dl{float:right;padding:0 5px 0 0;width:170px}
#hotcontent .l .item dl dt{overflow:hidden;height:25px;border-bottom:1px dotted #a6d3e8;font-weight:700;font-size:14px;line-height:25px}
#hotcontent .l .item dl dt span{float:right;color:#b3b3b3;font-weight:400}
#hotcontent .l .item dl dd{overflow:hidden;padding:7px 0 0;height:120px;text-indent:2em;line-height:20px}
#hotcontent .r{float:right;width:265px;border:3px solid #c3dfea}
#hotcontent h2{overflow:hidden;margin:0;padding:0 0 0 10px;height:30px;font-weight:700;font-size:14px;line-height:30px}
#newscontent .l{float:left;overflow:hidden;width:695px;border:2px solid #a6d3e8;border-radius:10px;background:#f7fbfd}
#newscontent .l ul{padding:10px}
#newscontent .l li{overflow:hidden;padding:5px 0 0;height:25px;border-bottom:1px solid #ddd;line-height:25px}
#newscontent .l li span{float:left;display:inline-block}
#newscontent .l li .s1{width:75px}
#newscontent .l li .s2{width:185px}
#newscontent .l li .s3{width:300px}
#newscontent .l li .s4{width:70px;color:#b3b3b3;text-align:right}
#newscontent .l li .s5{float:right;color:#b3b3b3;text-align:right}
#newscontent .l li a{color:#6f78a7}

.clear{display:block;height:0}
.clear,.footer{overflow:hidden}
.footer{margin:auto;width:980px;text-align:center}
#main{padding:0 0 10px}
#main,*{margin:auto}
.box_intro .pic{float:left;padding:5px;width:130px;border:1px solid #c3dfea}
.intro{overflow-y:scroll;height:90px;color:#666;text-indent:2em;line-height:22px}
abbr,acronym,address,b,blockquote,button,caption,cite,code,dd,del,dfn,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,img,label,legend,li,ol,p,pre,q,s,samp,small,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;font-weight:400;font-style:normal;font-size:100%;font-family:inherit}
body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,select,table,td,th,ul{margin:auto;padding:0}
ul li{list-style:none}
body{background-color:#e9faff;color:#555;font-size:14px;font-family: Arial,'Microsoft YaHei','\5B8B\4F53'}
.head{margin:auto;width:980px;height:61px}
.head_logo a{float:left;display:block;width:250px;height:60px;background:url() no-repeat scroll;text-indent:-9999px}
.head_search input.search{margin-right:5px;padding:3px;width:320px;height:24px;border:1px solid #a6d3e8;font:16px/22px arial}
.lianxi,.lianxiindex{float:right;overflow:hidden;margin-top:3px;margin-right:5px;padding:5px 3px;width:220px;border:1px dotted #88c6e5;border-radius:10px;text-align:center}
.lianxiindex{height:50px;color:#6f78a7;letter-spacing:2px;line-height:20pt}
.daohang{z-index:11;overflow:hidden;margin:10px auto auto;width:980px;height:40px;border-radius:10px;background:#88c6e5}
.daohang ul li{float:left;overflow:hidden;margin-left:8px;line-height:40px}
.daohang ul li a{overflow:hidden;padding:0 15px;color:#fff;font-weight:700;font-size:15px;font-family:宋体}
.daohang ul li a:hover{padding-top:5px;padding-bottom:5px;background:#fff;color:#09c;text-decoration:none}
.nav1{overflow:hidden;margin:10px auto auto;width:978px;height:30px;border:1px solid #fc3;border-radius:10px;background:#fff9d9}
.nav1 ul li{float:left;overflow:hidden;margin-left:8px;line-height:30px}
.nav1 ul li a{overflow:hidden;padding:5px;color:#282828;font-weight:700;font-size:15px;font-family:Microsoft YaHei,微软雅黑,宋体}
.nav1 ul li a:hover{padding-top:5px;padding-bottom:5px;background:#88c6e5;color:#fff;text-decoration:none}
.headds{width:100%;height:35px;min-width:950px;border-bottom:1px solid #a6d3e8;background-color:#e1eced}
.headds,.headds a{color:grey}
.headds_con{margin:0 auto;width:980px;vertical-align:middle;text-indent:16px;line-height:35px}
.headds_addfavorite,.headds_sethome{float:left;display:inline}
.headds_sethome {
    background: url("../image/sethome.gif") no-repeat scroll 0 10px transparent;
    display: inline;
    float: left;
    margin-right: 20px;
}
.footer .footer_cont{margin:10px auto auto}
.footer_cont p{color:#302b35;line-height:20px}
#searchbar{float:left;margin-top:20px;margin-left:20px;width:430px}
.search{overflow:hidden;width:454px;height:32px;border:1px solid #18c2c8}
.search .input-txt{float:left;padding:0 0 0 30px;width:324px;height:31px;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-image:initial;background:url(../image/sico.gif) 9px 9px no-repeat #e9faff;color:#666;line-height:31px;border-bottom-style:none;border-right-style:none;border-bottom-width:0;border-right-width:0;border-right-color:initial;border-bottom-color:initial}
.search .input-btn{float:right;overflow:hidden;width:98px;height:32px;border:0;background:url(../image/sbtn.gif) -1px -35px no-repeat;cursor:pointer}
.search .input-btn-active{background-position:-1px -1px}
img{border:0}
a:hover{color:red}
button,input,select,textarea{margin:0;vertical-align:baseline;font-size:100%}
textarea{overflow:auto;vertical-align:top}
#maininfo{float:left;width:700px;max-height:470px}
textarea{resize:none}
body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,li,ol,p,ul{margin:0;padding:0}
table{border-collapse:collapse;empty-cells:show}
li{list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:1em}
cite,em{font-style:normal}
a{outline-style:none;color:#6f78a7;text-decoration:none}
a:hover{text-decoration:underline}
a img{border-style:none}
label{cursor:pointer}
#main,.clear{clear:both}
#main{width:980px}
unknown{margin-top:-1px;margin-left:1px;padding:5px 8px 15px 12px;width:200px;background:#f9f9f9;border:1px solid #aaa;border-top-style:none}
#alist{display:block;padding-bottom:10px}
#alist h3{padding:0 10px;height:40px;border-bottom:1px solid #ddd;background-color:#88c6e5;color:#333;font-weight:700;font-size:20px;line-height:40px}
#alist h3 span{float:right;color:#f30303;font:500 20px/40px Monotype Corsiva,Arial,sans-serif}
#alist small{padding-left:20px;font-size:12px}
#alistbox{float:left;margin:5px 0 5px 5px;padding:5px;width:460px;border-bottom:1px solid #ddd}
#alistbox .pic{float:left;width:125px}
#alistbox .pic img{padding:5px;background:#eee}
#alistbox .pic img:hover{background:#5187c3}
#alistbox .info{float:left;width:330px;height:150px}
#alistbox .sys{margin-left:10px;height:20px;color:#c42205}
#alistbox .sys li{float:left;width:300px;height:20px}
#alistbox .sys li a{color:#c42205}
#alistbox .title{margin:0 10px;height:30px;border-bottom:1px solid #eee;line-height:30px}
#alistbox .title h2{float:left}
#alistbox .title span{float:right;text-align:right}
#alistbox .intro{overflow:hidden;margin:5px 10px;height:80px;overflow-wrap:break-word}
#alistbox .yuedu{margin:0 20px;height:30px}
#alistbox .yuedu a{padding:5px 8px;border-radius:10px;background:#f3f3f3;line-height:28px}
#zhlistbox .pic{float:left;padding-left:10px;width:125px}
#zhlistbox .pic img{padding:5px;background:#eee}
#zhlistbox .pic img:hover{background:#5fc0ed}
#zhlistbox .info{float:left;padding-left:10px;width:800px;height:150px;color:#666}
#zhlistbox .info span{display:block;height:25px;color:#222}
#zhlistbox .title{margin:0 10px;height:30px;border-bottom:1px solid #eee;line-height:30px}
#zhlistbox .title h2{float:left}
#zhlistbox .title span{float:right;text-align:right}
#zhlistbox .intro{overflow:hidden;margin:5px 10px;height:80px;overflow-wrap:break-word}
#zhlistbox .yuedu{margin:0 10px;height:30px}
#zhlistbox .yuedu a{padding:5px 8px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;background:#f3f3f3;line-height:28px}
.articlepage{margin:5px 0;padding:0 20px;height:40px;border:1px solid #ddd;background:#f9f9f9;line-height:40px}
.articlepage a{margin:5px;padding:3px 10px;border:1px solid #ccc;background:#f9f9f9;color:#333}
.articlepage strong{padding:5px 10px;border:1px solid #333}
.articlepage input{padding:2px 5px;border:1px solid #333}
.articlepage a:hover{border:1px solid #333;background:#f9f9f9;color:#333}
#hotcontent .l{float:left;overflow:hidden;width:980px;border:2px solid #a6d3e8;border-radius:10px;background:#fef9ef}
